.contacto {
  display: grid;
  grid-template-columns: 2fr 5fr; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.redSocial {
  height: 25px; }

.contactoUno {
  display: grid;
  grid-template-rows: 100px; }

.contactoDos {
  background-color: khaki; }

.btn {
  background-color: palevioletred; }

footer .cajafooter {
  background-color: lavender; }
  footer .cajafooter .cajafooter_mensaje {
    display: flex;
    background-color: lavender;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center; }

.productosDisponibles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-basis: 1200px; }

.imagen:hover 1 {
  transform: scale(1.1, 1.1); }

.imagen:hover 2 {
  transform: scale(1.1, 1.1); }

.imagen:hover 3 {
  transform: scale(1.1, 1.1); }

.imagen:hover 4 {
  transform: scale(1.1, 1.1); }

.imagen:hover 5 {
  transform: scale(1.1, 1.1); }

.imagen:hover 6 {
  transform: scale(1.1, 1.1); }

/*pagina quienes somos*/
.mainQuienes {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-content: center; }

.nosotros {
  height: 500px; }

.quienes {
  width: 50%;
  background-color: khaki; }

.quienesDescripcion {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: black;
  text-align: justify;
  background-color: khaki;
  height: 20%;
  padding: 20px;
  justify-content: center; }

.imagenessection {
  display: flex;
  justify-content: center;
  margin: 20px; }

.imgQuienes {
  height: 280px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.seccionTitulo_titulo {
  color: LightSlateGray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

.w-100 {
  width: 100%; }

.nav-link {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: auto;
  line-height: 25px;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center; }

.nav-link a {
  display: flex;
  justify-content: space-between; }

/*index*/
header {
  margin: 20px; }

h1 {
  font-family: "Satisfy", cursive;
  text-align: center; }

.carousel-item {
  margin: 50px; }

.video {
  height: 100%;
  width: 100%; }

h4 {
  color: orange;
  margin: 5px;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif; }

h5 {
  color: orange;
  margin: 5px;
  text-align: center; }

.oferta {
  color: orangered;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin: 5px;
  justify-content: center; }

.cajaseccion {
  display: grid;
  grid-template-areas: "section1" "section2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; }

.section2 {
  text-align: center;
  background-color: khaki; }

.section2 td {
  text-align: justify; }

main {
  margin: 20px; }

h2 {
  color: LightSlateGray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

.listaproducto {
  text-decoration: none;
  letter-spacing: 5px; }

.listaoferta {
  list-style-type: square;
  list-style-position: outside; }

.destacados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.imgDestacados {
  height: 280px;
  margin: 20px; }

.imgDestacados:hover {
  transform: scale(1.1); }

/*pagina de productos*/
.productosDisponibles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-basis: 1200px; }

.imagen1 {
  width: 320px;
  height: 320px;
  margin: 20px;
  order: 1; }

.imagen1:hover {
  transform: scale(1.1, 1.1); }

.imagen:hover {
  transform: scale(1.1, 1.1); }

.imagen {
  width: 320px;
  height: 320px;
  margin: 20px; }

.dropdown {
  color: khaki; }

/*pagina carrito de compras*/
.carrito {
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-vectores-gratis%2Fcarrito-de-compras&psig=AOvVaw17ydNRjzOn2gap_WPIN7gv&ust=1634854668298000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPjivbCC2vMCFQAAAAAdAAAAABAT); }

.carruselQuienes {
  width: 50%; }

/* MEDIA QUERIES */
@media only screen and (max-width: 375px) {
  .carrusel {
    width: auto; }
  .d-block {
    width: 288px; }
  .cajaseccion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  .imginfoenvios {
    width: 100%; }
  .destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .imgDestacados {
    height: 150px; }
  .video {
    display: flex;
    height: 150px; } }

@media only screen and (max-width: 768px) {
  .carrusel {
    width: 80%; }
  .d-block {
    width: 288px; }
  .cajaseccion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  .imginfoenvios {
    width: 80%; }
  .destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .imgDestacados {
    height: 500px; }
  .video {
    width: 80%; } }
