    @import "./imports/variables";
    @import "./imports/contacto";
    @import "./imports/footer";
    @import "./imports/productos";
    @import "./imports/quienes";


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .seccionTitulo_titulo {
        color: LightSlateGray;
        text-align: center;
        font-family: $fuentePrincipal;
    }

    .w-100 {
        width: 100%;
    }


   


    .nav-link {
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: auto;
        line-height: 25px;
        align-items: center;
        text-decoration: none;
        list-style: none;
        color: black;
        text-align: center;


    }

    .nav-link a {
        display: flex;
        justify-content: space-between;
    }


    /*index*/
    header {
        margin: 20px;
    }

    h1 {
        font-family: $fuenteLogo;
        text-align: center;
    }

    


    
    h4 {
        color: orange;
        margin: 5px;
        text-align: center;
        justify-content: center;
        font-family: $fuentePrincipal;

    }

    h5 {
        color: orange;
        margin: 5px;
        text-align: center;
    }

    .oferta {

        color: orangered;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        margin: 5px;
        justify-content: center;

    }

    .cajaseccion {
        display: grid;
        grid-template-areas:
            "section1""section2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .section2 {
        text-align: center;
        background-color: $colorSecundario;
    }

    .section2 td {
        text-align: justify;
    }

    main {
        margin: 20px;
    }

    h2 {
        color: LightSlateGray;
        text-align: center;
        font-family: $fuentePrincipal;
    }


    .listaproducto {
        text-decoration: none;
        letter-spacing: 5px;
    }

    .listaoferta {
        list-style-type: square;
        list-style-position: outside;

    }

    .destacados {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

    .imgDestacados {
        height: 280px;
        margin: 20px;
    }

    .imgDestacados:hover {
        transform: scale(1.1);
    }

    /*pagina de productos*/
    .productosDisponibles {
     display: flex;
    flex-direction: row;
      flex-wrap: wrap;
     justify-content: space-evenly;
        align-items: center;
        align-content: center;
        flex-basis: 1200px;
     
    }
   .figure-img {
       height: 320px;
   }
   .figure-img:hover {
    transform: scale(1.1, 1.1);
}
    .imagen1 {
        width: 320px;
        height: 320px;
        margin: 20px;
        order: 1;
    }

    .imagen1:hover {
        transform: scale(1.1, 1.1);
    }

    .imagen:hover {
        transform: scale(1.1, 1.1);
    }

    .imagen {
        width: 320px;
        height: 320px;
        margin: 20px;
    }

    .dropdown {
        color: $colorSecundario;
    }





    /*pagina carrito de compras*/
    .carrito {
        background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-vectores-gratis%2Fcarrito-de-compras&psig=AOvVaw17ydNRjzOn2gap_WPIN7gv&ust=1634854668298000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPjivbCC2vMCFQAAAAAdAAAAABAT);

    }

    .carruselQuienes {
        width: 50%;
    }
    .video {
        width: 100%;
        height: auto;
    }

    /* MEDIA QUERIES */
    @media only screen and (max-width:375px) {
        .carrusel {
            width: auto;

        }

        .d-block {
            width: 288px;
        }



        .cajaseccion {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        .imginfoenvios {
            width: 100%;
        }

        .destacados {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;


        }

        .imgDestacados {
            height: 150px;
        }

        

    @media only screen and (max-width:768px) {
       

        .d-block {
            width: 288px;
        }



        .cajaseccion {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        .imginfoenvios {
            width: 80%;
        }

        .destacados {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;



        }

        .imgDestacados {
            height: 320px;
        }

       