@import "./variables";


footer {
    .cajafooter {
        
        background-color: $colorPrincipal;
                

        .cajafooter_mensaje {
            display:flex;
            background-color: $colorPrincipal;
            height: 50px;
            text-align: center;
            justify-content: center;
        align-items: center;


        }
    }
}