@import "../imports/variables";
/*pagina quienes somos*/
.mainQuienes{
    display:grid;
    grid-template-columns: 3fr;
       grid-template-rows: auto auto auto auto;
       justify-content: center;
       
}
.nosotros{
    
    height: 500px;
}
.quienes {
   
    width: 50%;
    background-color: $colorSecundario;
    
       

}

.quienesDescripcion {
    display: flex;
    font-family: $fuentePrincipal;
    font-size: larger;
    color: black;
    text-align: justify;
    background-color: $colorSecundario;
    height: 20%;
    padding:20px;
    justify-content: center;

}

.imagenessection{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.imgQuienes{
    
    height: 280px;
}