@import "../imports/variables";
/*pagina quienes somos*/
.quienes {
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
       

}

.quienesDescripcion {
    font-family: $fuentePrincipal;
    font-size: larger;
    color: black;
    text-align: justify;
    background-color: $colorSecundario;
    height: 20%;
    padding:20px;

}
.quienesLogo{
    height: 20%;
}